{% extends "identification/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Add Money to Your Account</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-5">
          {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
          {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <select id="method">
                    <option disabled="true" selected>--Select method--</option>
                    <option value="0">Credit/Debit Card</option>
                    <option value="1">Bank Account</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="bank_name">
                    <option disabled="true" selected>--Select Bank--</option>
                    <option value="0">Sonali Bank</option>
                    <option value="1">First Security Islami Bank</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="bill_number">Account/card Number</label>
                    <input type="number" name="bill_number" class="form-control" id="bill_number" minlength="5" maxlength="5">
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" class="form-control" id="amount">
                </div>

                <div class="form-group">
                    <label for="username">date</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                    <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small>
                </div>

                <button type="submit" class="btn btn-primary">Pay Bill</button>
            </form>
            <hr>

        </div>
    </div>
{% endblock %}
