{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" type="image/png"  href="{% static 'identification/logo.png' %}">
    <title>Nexus Wallet</title>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-light bg-warning">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'identification/logo.png' %}" width="30" height="30" class="d-inline-block align-top">
        <span>Nexus Wallet</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logoutuser' %}">Logout</a>
                </li>


        </ul>
    </div>
</div>
</nav>

<div class="container">

  <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Bill Payment Form</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-5">
          {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
          {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="org_name">Organization Name</label>
                    <input type="text" name="org_name" class="form-control" id="org_name" value= "{{ name }} " disabled="true">
                </div>
                <div class="form-group">
                    <label for="bill_num">Bill Number</label>
                    <input type="number" name="bill_num" class="form-control" id="bill_num" value="{{ number }}" disabled="true">
                </div>
                <div class="form-group">
                    <label for="bill_amount">Amount</label>
                    <input type="number" name="bill_amount" class="form-control" id="bill_amount" required>
                </div>
                <div class="form-group">
                    <label for="bill_type">Type</label>
                    <input type="text" name="bill_type" class="form-control" id="bill_type" value="{{ type }}" disabled="true">
                </div>
                <div class="form-group">
                    <label for="customer_num">Customer Number</label>
                    <input type="text" name="customer_num" class="form-control" id="customer_num" minlength="8" maxlength="8" required>
                </div>
                <div class="form-group">
                    <label for="bill_desc">Additional Comment</label>
                    <input type="text" name="bill_desc" class="form-control" id="bill_desc">
                </div>

                <button type="submit" class="btn btn-primary">Pay</button>
            </form>


  </div>





</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
