{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" type="image/png"  href="{% static 'identification/logo.png' %}">
    <title>Nexus Wallet</title>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-light bg-warning">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'identification/logo.png' %}" width="30" height="30" class="d-inline-block align-top">
        <span>Nexus Wallet</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logoutuser' %}">Logout</a>
                </li>

        </ul>
    </div>
</div>
</nav>

<div class="container">

  <div class="row justify-content-center mt-5">
         <div class="col-md-5">
             <h2>Organizations</h2>
         </div>
  </div>

  <div class="row justify-content-center mt-5">
      <div class="col-sm-5">
        {% if error %}
              <div class="alert alert-danger" role="alert">
                  {{ error }}
              </div>
        {% endif %}
        <div class="list-group">
          <a href="{% url 'billform' 6 %}" class="list-group-item"> <img src="{% static 'identification/titas.png' %}" width="60" height="60" class="d-inline-block align-top">
            <span><big>Titas Gas</big></span>
          </a>
          <a href="{% url 'billform' 7 %}" class="list-group-item"> <img src="{% static 'identification/jalalabad.png' %}" width="60" height="60" class="d-inline-block align-top">
            <span><big>Jalalabad Gas</big></span>
          </a>
          <a href="{% url 'billform' 8 %}" class="list-group-item"> <img src="{% static 'identification/sundarban.png' %}" width="60" height="60" class="d-inline-block align-top">
            <span><big>Sundarban Gas</big></span>
          </a>
          <a href="{% url 'billform' 9 %}" class="list-group-item"> <img src="{% static 'identification/paschimanchal.png' %}" width="60" height="60" class="d-inline-block align-top">
            <span><big>Paschimanchal Gas</big></span>
          </a>
        </div>



        <br>
        <br><br><br>
          <hr>

      </div>
  </div>




</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
