{% extends "identification/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Pay Your Bill</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-5">
          {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
          {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="transaction_receiver">Receiver</label>
                    <input type="number" name="transaction_receiver" class="form-control" id="transaction_receiver">
                </div>

                <div class="form-group">
                    <label for="transaction_amount">Amount</label>
                    <input type="number" name="transaction_amount" class="form-control" id="transaction_amount">
                </div>

                <div class="form-group">
                    <label for="username">date</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                    <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small>
                </div>

                <button type="submit" class="btn btn-primary">send</button>
            </form>
            <hr>

        </div>
    </div>
{% endblock %}
