
/* #247BA0
#70C1B3
#B2DBBF
#F3FFBD
#FF1654 */



.art{
  margin: auto;
}



#btn1{
  
  border: none;
  color: white;
  padding: 45px 32px;
  text-align: center;
  text-decoration: none;
}

#btn2{

  border: none;
  color: white;
  padding: 45px 32px;
  text-align: center;
  text-decoration: none;
}

#btn3{

  border: none;
  color: white;
  padding: 45px 32px;
  text-align: center;
  text-decoration: none;
}

#btn4{

  border: none;
  color: white;
  padding: 45px 32px;
  text-align: center;
  text-decoration: none;
}

#btn5{

  border: none;
  color: white;
  padding: 45px 32px;
  text-align: center;
  text-decoration: none;
}
